.account {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    max-width: 450px;
    gap: 1rem;


    .info-row {
        display: grid;
        grid-template-columns: 8ch 1fr;
        gap: 1rem;
        align-items: center;
        height: 2.5rem;
        position: relative;

        dt {
            color: var(--subtle);
        }

        dd {
            display: flex;
            align-items: center;
            width: 100%;
            overflow: scroll;
            scrollbar-width: none;

            button {
                padding-inline: 1rem 0;
                position: absolute;
                right: -1px;
                background: linear-gradient(90deg, transparent, var(--gray-0) 40%);
            }

            svg {
                fill: var(--subtle);
            }
        }
    }
}