.account {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    gap: 1rem;
    align-items: center;
    justify-content: center;

    .account-info {
        padding: 0;

        > button {
            margin-top: 1.5rem;
            display: flex;
            gap: 0.5rem;
        }
    }

    >* {
        width: min(380px, 100% - 2rem);
    }

    


    .info-row {
        gap: 2rem;
        align-items: center;
        padding-block: 0.5rem;
        position: relative;

        dt {
            padding-left: 0.5rem;
            color: var(--subtle);
        }

        .card {
            margin-top: 0.25rem;
            padding: 0.5rem;
            padding-right: 0;
            display: flex;
            align-items: center;
        }



        dd {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            width: 100%;
            overflow: scroll;
            scrollbar-width: none;

            button {
                background: linear-gradient(90deg, transparent, var(--gray-1) 40%);
            }
        }
    }
}