#home {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 400px;
    margin-top: 1rem;
    
    a {
        text-decoration: none;
        color: inherit;
        padding: 0.5rem;
    }
}