.list-preview .list-item {
  position: relative;
  margin-bottom: 4rem;
  padding: 0.75rem;

  &::after,
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    transform: scale(0.95) translateY(1.25rem);
    border-radius: 1rem;
    background-color: var(--surface);
    border: 1px solid var(--border);
    z-index: -1;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  &::before {
    transform: scale(0.90) translateY(2.5rem);
  }
}

.list-item:not(:focus) {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.list-preview {
  display: grid;
}

.home-list .label {
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-size: var(--font-size-sm);
  color: var(--subtle);
  margin: 0;
}


.home-list-body {
  display: flex;
  flex-wrap: wrap;
  gap: 0.35rem;
}


.home-layout .input-search {
  padding: 0 1rem 0 0.5rem;
}

.home-layout-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 0.5rem 0.25rem;

  a {
    display: flex;
    color: var(--subtle);
  }
}

ul:has(.action) {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.action {
  padding: 0.75rem;
  width: 100%;
  justify-content: space-between;
}