.table-container {
  overflow: auto;


  header,
  .row {
    display: grid;
    grid-template-columns: repeat(6, 160px);
    width: max-content;

    > * {
      border-right: 1px solid var(--gray-3);
      border-bottom: 1px solid var(--gray-3);
      padding: 0.5rem;
    }
  }

  header {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .row li:last-of-type {
    border-right: none;
  }

  h5 {
    width: 100%;
    background-color: var(--gray-2);
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      font-family: "Jetbrains Mono";
    }

    li:nth-child(odd) .row {
      background-color: color-mix(in lab, var(--gray-2) 35%, transparent);
    }
  }
}

#import-input {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  border: 1px dashed var(--gray-2);
  border-radius: 1rem;
  margin-top: 0.5rem;
  background: color-mix(in lab, var(--surface) 70%, transparent);

  p {
    max-width: 28ch;
    margin: auto;
    text-align: center;
  }
}

.import-details {
  margin-block: 2rem;
  max-width: 28ch;

  button,
  h5 {
    margin-block: 0.5rem;
  }
}

.import-preview {
  margin-block: 2rem;
}
