@import "tailwindcss";


.scrollbar-subtle {
    scrollbar-width: none;
    scrollbar-color: oklch(92.2% 0 0) transparent;
}

@media (prefers-color-scheme: dark) {
    .scrollbar-subtle {
        scrollbar-color: oklch(37.1% 0 0) transparent;
    }
}
