/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;

}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
    color: inherit;
}

p,
h1,
h2,
h3 {
    overflow-wrap: break-word;
    text-wrap: balance;
}


:root {
    scroll-behavior: smooth;
    font-family: Inter, sans-serif;
    font-feature-settings: "liga" 1, "calt" 1;
    interpolate-size: allow-keywords;

    --gray-0: hsl(0 0% 99%);
    --gray-1: hsl(0 0% 94%);
    --gray-2: hsl(0 0% 88%);
    --gray-3: hsl(0 0% 80%);
    --gray-4: hsl(0 0% 60%);
    --gray-5: hsl(0 0% 40%);
    --gray-6: hsl(0 0% 20%);

    --bg: var(--gray-1);
    --surface: var(--gray-0);
    --muted: var(--gray-3);
    --text: var(--gray-6);
    --subtle: var(--gray-5);

    --border: var(--gray-2);
    --border-subtle: var(--gray-1);

    --ring: hsl(220 75% 50%);

    --font-size-sm: 0.75rem;
    --font-size-base: 1rem;
    --font-size-lg: 1.15rem;
    --font-size-xl: 1.25rem;
    --font-size-xxl: 2rem;
}

@media (prefers-color-scheme: dark) {
    :root {
        --gray-0: hsl(210 8% 6%);
        --gray-1: hsl(210 7% 10%);
        --gray-2: hsl(210 6% 16%);
        --gray-3: hsl(210 6% 28%);
        --gray-4: hsl(210 5% 44%);
        --gray-5: hsl(210 6% 66%);
        --gray-6: hsl(210 8% 92%);

        --bg: var(--gray-0);
        --surface: var(--gray-1);
        --muted: var(--gray-3);
        --text: var(--gray-6);
        --subtle: var(--gray-5);

        --border: var(--gray-2);
        --border-subtle: var(--gray-1);
    }
}

* {
    scrollbar-color: var(--gray-1) var(--gray-0);
}

body,
*:popover-open {
    line-height: 1.5;
    background: var(--bg);
    color: var(--text);
    -webkit-font-smoothing: antialiased;
}

p,
.small {
    font-size: var(--font-size-sm);
    color: var(--subtle);
    text-wrap: pretty;
    height: var(--font-size-base);
}

h1 {
    font-size: var(--font-size-xxl);
    font-weight: 800;
    letter-spacing: -0.035em;
    margin-block: 0.5em;
}

h2 {
    font-size: var(--font-size-xl);
    font-weight: 600;
    margin-bottom: 0.5em;
    letter-spacing: -0.025rem;
}

h3 {
    font-size: var(--font-size-lg);
    font-weight: 500;
    margin-bottom: 0.25em;

}

h4 {
    font-size: var(--font-size-sm);
    font-weight: 500;
    margin-block: 0.5rem 0.15rem;
    color: var(--subtle);
}

hr {
    border: 1px solid var(--gray-2);
    border-right: 0;
    transform: translateX(0.5px);
}

.flex>hr {
    height: auto;
    align-self: stretch;
}


button,
.btn,
a {
    cursor: pointer;
    display: block;
    text-align: center;
    text-decoration: none;
    border-radius: 0.25rem;

    &:disabled {
        opacity: 0.5;
    }


    &:active {
        transition: transform 0.15s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transform: scale(0.975);
    }


    &:focus-visible {
        transition: 0.5s box-shadow cubic-bezier(0.075, 0.82, 0.165, 1);
        box-shadow: 0 0px 0px 2px var(--ring);
        outline: none;

        *:focus {
            outline: none;
        }
    }
}

.subtle {
    background-color: var(--gray-2);
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: var(--gray-6);
}

.primary {
    background-color: var(--gray-6);
    color: var(--gray-1);
    border-radius: 0.5rem;
    border: none;
}

.unset {
    all: unset;
}

svg:not(.checkbox-icon) {
    fill: var(--subtle);
    stroke: var(--subtle);
}

.full {
    width: 100%;
}

.ghost {
    background: none;
    border: none;
    color: inherit;
    field-sizing: content;
}

.card {
    background-color: var(--surface);
    border: 1px solid var(--gray-2);
    border-radius: 0.75rem;
}

a.disabled {
    pointer-events: none;
    color: var(--subtle);


}

.focus-ring:has(:focus-within):not(:has(.focus-ring:focus-within)) {
    transition: box-shadow 0ms cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: 0 0 0 2px var(--ring);
    z-index: 1;
    outline: none;

    *:focus {
        outline: none;
    }
}





.invisible {
    height: 0;
    width: 0;
    position: absolute;
}

ul.unstyled {
    list-style: none;
    padding: 0;
}

a.unstyled {
    text-decoration: none;
    color: inherit;
}

.bottom {
    height: fit-content;
}

.opening {
    transition-duration: 1s;
    transition-property: color, opacity;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    color: var(--text);
}

.opening.bottom {
    @starting-style {
        transform: translateY(-0.5rem);
        opacity: 0;
    }
}

.opening.top {
    @starting-style {
        color: transparent;
    }
}

input.invisible {
    position: absolute;
    height: 0px;
    width: 0px;
    opacity: 0;
}

.input-search {
    flex: 1;
    display: flex;
    align-items: center;
    padding-inline: 0.5rem;
    flex: 1;

    input {
        flex: 1;
        padding: 0.5rem;
    }
}

.layout {
    display: grid;
    gap: 1rem;
}

.flex {
    display: flex;
    align-items: center;
}

.flex.end {
    justify-content: flex-end;
}

.grow {
    flex: 1;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex.sb {
    justify-content: space-between;
}

.flex.col {
    flex-direction: column;
}

.flex.gap-base {
    gap: 0.75em;
}

.flex.gap-sm {
    gap: 0.25em;
}

.position-bottom {
    position: sticky;
    inset: auto 1rem 1rem 1rem;
    width: 100%;
}

.sort {
    padding: 0.375rem 0.5rem;
    color: var(--text);

    input {
        accent-color: var(--text);
        width: 1rem;
        height: 1rem;
    }
}

option {
    background-color: var(--bg);

    &:hover {
        background-color: var(--gray-1);
    }
}

.margin-none {
    margin: 0;
}

.anchor {
    anchor-name: --anchor;
}

.popup {
    color: inherit;
    inset: unset;
    position-anchor: --anchor;
    position: absolute;
    top: anchor(bottom);
    right: anchor(right);
    margin-top: 0.5rem;

    transition-property: opacity, transform, display;
    transition-behavior: allow-discrete;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 0.25s;
    transform-origin: top right;


    @starting-style {
        opacity: 0;
        transform: scale(0.95);
    }

    >* {
        padding: 0.5rem;
    }


    >section {
        border-top: 1px solid var(--border);
        padding-top: 0.5rem;
    }
}



.sticky {
    position: sticky;
    z-index: 5;
    top: calc(anchor-size(layout-header block));
    background-color: var(--bg);
}

.padding-small {
    padding: 0.375rem 0.5rem;
}

.padding-base {
    padding: 0.5rem 0.75rem;
}

.full-page {
    height: 100%;
}


footer.position-bottom {
    background-color: var(--bg);
    position: sticky;
    inset: auto 0 0 0;
    margin: auto;
    padding-block: 1rem 1.5rem;
    border-top: 1px solid var(--border);
}

footer {
    margin-block: 1rem;
}