/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;

}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
    text-wrap: balance;

}


:root {
    scroll-behavior: smooth;
    font-family: Inter, sans-serif;
    font-feature-settings: "liga" 1, "calt" 1;
    interpolate-size: allow-keywords;

    /* ----- LIGHT ----- */
    --gray-0: hsl(0 0% 99%);
    --gray-1: hsl(0 0% 94%);
    --gray-2: hsl(0 0% 88%);
    --gray-3: hsl(0 0% 80%);
    --gray-4: hsl(0 0% 60%);
    --gray-5: hsl(0 0% 40%);
    --gray-6: hsl(0 0% 20%);

    --bg: var(--gray-0);
    --surface: var(--gray-1);
    --muted: var(--gray-3);
    --text: var(--gray-6);
    --subtle: var(--gray-5);

    --border: var(--gray-2);
    --border-subtle: var(--gray-1);

    --ring: hsl(220 75% 50%);

    --font-size-sm: 0.75rem;
    --font-size-base: 1rem;
    --font-size-lg: 1.25rem;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* ----- DARK ----- */
        --gray-0: hsl(210 8% 6%);
        --gray-1: hsl(210 7% 10%);
        --gray-2: hsl(210 6% 16%);
        --gray-3: hsl(210 6% 28%);
        --gray-4: hsl(210 5% 44%);
        --gray-5: hsl(210 6% 66%);
        --gray-6: hsl(210 8% 92%);

        --bg: var(--gray-0);
        --surface: var(--gray-1);
        --muted: var(--gray-3);
        --text: var(--gray-6);
        --subtle: var(--gray-5);

        --border: var(--gray-2);
        --border-subtle: var(--gray-1);
    }
}

* {
    scrollbar-color: var(--gray-1) var(--gray-0);
}

body {
    line-height: 1.5;
    background: var(--bg);
    color: var(--text);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-regular);
    -webkit-font-smoothing: antialiased;
}

p {
    font-size: var(--font-size-sm);
    color: var(--subtle);
    text-wrap: pretty;
}

h3 {
    font-size: var(--font-size-lg);
    font-weight: 500;
    margin-bottom: 0.5rem;
}

h5 {
    font-size: var(--font-size-base);
    font-weight: 500;
}

hr {
    margin-block: 0.5rem;
    border: 1px solid var(--gray-2);
}

button,
.btn {
    cursor: pointer;
    display: block;
    text-align: center;
    text-decoration: none;

    &:active {
        transition: transform 0.15s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transform: scale(0.975);
    }


    &:focus-visible {
        transition: 0.5s box-shadow cubic-bezier(0.075, 0.82, 0.165, 1);
        box-shadow: 0 0px 0px 2px var(--ring);
        outline: none;

        *:focus {
            outline: none;
        }
    }
}

.subtle {
    background-color: var(--gray-2);
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: var(--gray-6);
}

.primary {
    background-color: var(--gray-6);
    color: var(--gray-1);
    border-radius: 0.5rem;
    border: none;
    padding: 0.5rem;
}

.unset {
    all: unset;
}

svg {
    fill: var(--subtle);
    stroke: var(--subtle);
}

.full {
    width: 100%;
}

.ghost {
    background: none;
    border: none;
    color: inherit;
    field-sizing: content;
}

.card {
    background-color: var(--gray-1);
    border: 1px solid var(--gray-2);
    border-radius: 0.5rem;
}

a.disabled {
    pointer-events: none;
    color: var(--subtle);

}

.fade-overflow {
    --foreground: rgb(255 255 255);
    --mask-size: 32px;
    --mask-start: 0px;
    --mask-end: var(--mask-size);
    --dir-start: 100% var(--mask-start);
    --dir-end: 100% var(--mask-end);

    scrollbar-width: none;
    scrollbar-color: var(--gray-2) transparent;
    overflow: auto;

    mask-repeat: no-repeat;
    mask-composite: exclude;

    animation-name: reveal-mask, unreveal-mask;
    animation-timeline: scroll(self), scroll(self);
    animation-range:
        0 var(--scroll-buffer),
        calc(100% - var(--scroll-buffer)) 100%;
    animation-fill-mode: both;

    --scroll-buffer: 40px;
}

@keyframes reveal-mask {
    from {
        --mask-start: 0px;
    }

    to {
        --mask-start: var(--mask-size);
    }
}

@keyframes unreveal-mask {
    from {
        --mask-end: var(--mask-size);
    }

    to {
        --mask-end: 0px;
    }
}

.fade-overflow.y {
    --dir-start: 100% var(--mask-start);
    --dir-end: 100% var(--mask-end);

    mask-image:
        linear-gradient(to top, transparent, var(--foreground) 90%),
        linear-gradient(to bottom, transparent 0%, var(--foreground) 100%),
        linear-gradient(var(--foreground), var(--foreground));

    mask-size:
        100% var(--mask-start),
        100% var(--mask-end),
        100% 100%;

    mask-position:
        0 0,
        0 100%,
        0 0;
}

.fade-overflow.x {
    --dir-start: var(--mask-start) 100%;
    --dir-end: var(--mask-end) 100%;

    mask-image:
        linear-gradient(to right, transparent, var(--foreground) 90%),
        linear-gradient(to left, transparent 0%, var(--foreground) 100%),
        linear-gradient(var(--foreground), var(--foreground));

    mask-size:
        var(--mask-start) 100%,
        var(--mask-end) 100%,
        100% 100%;

    mask-position:
        0 0,
        100% 0,
        0 0;
}



.invisible {
    height: 0;
    width: 0;
    position: absolute;
}

ul.unstyled {
    list-style: none;
    padding: 0;
}

a.unstyled {
    text-decoration: none;
    color: inherit;
}

.bottom {
    height: fit-content;
    margin-bottom: 1rem;
}

.opening {
    transition:
        transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
        opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.opening.bottom {
    @starting-style {
        transform: translateY(-0.5rem);
        opacity: 0;
    }
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    color: var(--text);
}

