  header {
      padding-block: 1rem;
      font-size: 1.25rem;
      font-weight: 700;
      letter-spacing: -0.035rem;


      nav {
          display: flex;
          align-items: center;
          justify-content: space-between;

          a {
              text-decoration: none;
              color: inherit;
          }

          #avatar {
              background-color: var(--gray-3);
              border-radius: 100vh;
              width: 2rem;
              aspect-ratio: 1;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 1rem;
          }
      }
  }

main {
    h1 {
        display: grid;
        grid-template-columns: auto 1fr;

    }
}