#root>header {
    position: sticky;
    top: 0;
    z-index: 10;
    height: fit-content;
    background: var(--bg);
    backdrop-filter: saturate(1.2) blur(4px);
    margin: 0;
    block-size: auto;
}

#root>header nav {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-block: 0.75rem;
    min-height: 3.25rem;
}

#root>header nav a {
    text-decoration: none;
    color: inherit;
}

#root>header nav .brand {
    font-size: 1.15rem;
    font-weight: 600;
    letter-spacing: -0.03rem;
    margin-right: auto;
}

.avatar-button {
    border: none;
    background: transparent;
    padding: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#root>header nav #avatar {
    background-color: var(--gray-2);
    border: 1px solid var(--border);
    border-radius: 100vh;
    width: 2rem;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.95rem;
    color: var(--text);
}

.container {
    width: min(750px, calc(100% - 2rem));
    margin-inline: auto;
}



:root,
body {
    height: 100%;
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    overflow-y: scroll;
    scrollbar-width: none;
}




main {
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    position: relative;
}

main .animate-entry {
    transform-origin: top;
    transition-duration: 0.5s;
    transition-property: transform, opacity, filter;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

    @starting-style {
        opacity: 0;
        transform: translateY(0.5rem) scale(0.98);
        filter: blur(2px);
    }
}


.state {
    display: flex;
    ;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.25rem;

    >* {
        max-width: 24ch;
        text-align: center;
    }
}




.account-sheet {
    display: grid;
    gap: 0.75rem;
}

.account-row {
    display: grid;
    gap: 0.35rem;
}

.account-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0.75rem;
    padding-right: 0.25rem;
    border-radius: 0.75rem;
    border: 1px solid var(--border);
    margin-bottom: 1rem;
}

.account-field span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.logout-btn {
    display: inline-flex;
    align-items: center;
    gap: 0.4rem;
    justify-content: center;
    width: 100%;
}

.top-content .sticky {
    position: sticky;
    top: 0;
    z-index: 6;
    background: var(--bg);
}

.menu-auth {
    margin-block: auto 1rem;
}

.menu-action {
    gap: 0.15rem;
}