.list {
    list-style: none;
    padding: 0;

    li {
        border-top: 1px solid var(--gray-2);
        width: 100%;

        svg {
            fill: var(--gray-4);
        }

        button {
            padding: 0.625rem 0.5rem;
        }

        label {
            padding: 0.75rem 1rem;
        }

        &:hover,
        &:focus {
            background-color: var(--gray-1);
            outline: none;
        }
    }

    a {
        text-decoration: none;
        color: inherit;
        width: 100%;
    }
}

#product-list {
    list-style: none;
    padding: 0;

    label {
        display: flex;
        gap: 0.75rem;
        align-items: start;
        color: var(--subtle);
        width: 100%;
        transition:
            background-color 120ms ease,
            color 120ms ease;
    }

    span {
        border: 2px solid var(--gray-2);
        border-radius: 0.25rem;
        padding: 0.15rem;
        height: 1.35rem;
        min-width: 1.35rem;

    }

    label:has(input:checked) span {
        background-color: var(--gray-2);
    }

    svg {
        fill: none;
    }
}

#list-page {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    gap: 0.5rem;
    scrollbar-width: none;
    padding-bottom: 1rem;


    header {
        display: unset;
        margin: unset;
    }
}


.list-item {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin: 0;
    height: auto;
}


.list-demo {
    position: relative;

    li {
        font-size: var(--font-size-sm);
        overflow-x: hidden;
        white-space: nowrap;
        color: var(--subtle);

        &::before {
            content: "✓";
            font-size: 1rem;
            padding-right: 0.25rem;
            color: var(--subtle);
        }
    }

    mask-image: linear-gradient(to bottom,
        black 0%,
        black calc(100% - 2rem),
        transparent 100%);
}


.empty {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;


    font-size: var(--font-size-base);
    font-weight: 400;

}

