.list {
    list-style: none;
    padding: 0;
    margin-block: 0.5rem;

    li {
        border-top: 1px solid var(--gray-2);
        width: 100%;
        padding: 0.5rem;
        display: flex;
        justify-content: space-between;

        svg {
            fill: var(--gray-4);
        }
    }

    a {
        text-decoration: none;
        color: inherit;
        width: 100%;
    }
}

#product-list {
    list-style: none;
    padding: 0;
     label {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        border-radius: 0.5rem;
        padding: 0.25rem 0.5rem;
        color: var(--subtle);
        width: 100%;
    }

    label::before {
        height: 1rem;
        aspect-ratio: 1;
        content: "";
        border: 1px solid var(--gray-4);
        border-radius: 0.25rem;
    }

    label:has(input[type="checkbox"]:checked) {
        color: var(--text);

        &::before {
            background-color: blueviolet;
            border: none;
        }
    }
}