#form-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    max-width: 400px;
    
    input, button {
        padding: 0.5rem;
        border-radius: 0.5rem;
        border: 1px solid #ccc;
    }
}