html:has(.sheet:popover-open),
body:has(.sheet:popover-open) {
    overscroll-behavior: none;
    overflow: hidden;

    #root {
        opacity: 0.5;
        transform: scale(0.95);
        transition:
            transform 1s cubic-bezier(0.075, 0.82, 0.165, 1),
            opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
}

html:not(:has(.sheet:popover-open)),
body:not(:has(.sheet:popover-open)) {
    scrollbar-width: none;

    #root {
        transform: scale(1);
        transition:
            transform 1s cubic-bezier(0.075, 0.82, 0.165, 1),
            opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        opacity: 1;
    }
}

.sheet:popover-open {
    display: flex;
    transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: translateY(0);

    @starting-style {
        transform: translateY(100%);
    }

    &::after {
        background-color: var(--surface);
        content: '';
        height: 10vh;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        transform: translateY(5rem);
    }
}

.sheet {
    background-color: var(--gray-1);
    overflow-y: hidden;
    inset: auto 0 0 0;
    position: absolute;
    flex-direction: column;
    width: 100%;
    border: none;
    max-height: 80vh;
    padding-inline: 1rem;

    display: none;
    transform: translateY(100%);
    transition-property: display transform;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-behavior: allow-discrete;

    >* {
        width: min(750px, 100%);
        margin-inline: auto;
    }

    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.sheet header {
    justify-content: space-between;
    position: relative;
    user-select: none;
    padding-block: 1.5rem 0.5rem;

    svg {
        fill: var(--subtle);
    }
}

.sheet header::after {
    content: "";
    background-color: var(--gray-2);
    height: 0.35rem;
    width: 3rem;
    border-radius: 100vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-1.75rem);
}

.sheet section {
    scrollbar-width: thin;
    scrollbar-color: var(--gray-2) transparent;
    align-self: stretch !important;
    height: 60vh;
    overflow-y: auto;
    min-height: 1rem;
    flex: 1;
}

.sheet footer {
    padding: 0.5rem;
    padding-bottom: 1rem;
}