.backdrop:not(:popover-open),
.backdrop:popover-open {
    all: unset;
    display: block;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    margin: 0 !important;
    z-index: 1000;
    overflow: hidden;
}

.backdrop:not(:popover-open) {
    background-color: rgba(0, 0, 0, 0);
    pointer-events: none;

    .sheet {
        transform: translateY(100%);
    }
}

.backdrop:popover-open {
    background-color: rgba(0, 0, 0, 0.5);

    .sheet {
        transform: translateY(0%);
    }
}

.sheet {
    transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

html:has(.backdrop:popover-open),
body:has(.backdrop:popover-open) {
    overscroll-behavior: none;

    #root {
        transform: scale(0.95);
        transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
}

/* ------------- HEADER ------------- */

.sheet {
    background-color: var(--gray-1);
    inset: auto 0 0 0;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.sheet header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0.5rem;
}

.sheet header::after {
    content: "";
    background-color: var(--gray-1);
    height: 0.25rem;
    width: 3rem;
    border-radius: 100vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-1rem);
}

/* ------------- SECTION (SCROLL) ------------- */

.sheet section {
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--gray-2) transparent;
    overscroll-behavior: none;
}
