.backdrop:not(:popover-open),
.backdrop:popover-open {
    all: unset;
    display: block;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100svh;
    margin: 0 !important;
    overflow: hidden;
}

.backdrop:not(:popover-open) {
    transition: background 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: rgba(0, 0, 0, 0);
    pointer-events: none;

    .sheet {
        transform: translateY(100%);
    }
}

.backdrop:popover-open {
    transition: background 0.25 cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: rgba(0, 0, 0, 0.5);

    .sheet {
        transform: translateY(0%);
    }
}

.sheet {
    transition: transform 0.75s cubic-bezier(0.075, 0.82, 0.165, 1);
}

html:has(.backdrop:popover-open),
body:has(.backdrop:popover-open) {
    overscroll-behavior: none;
    overflow: hidden;

    #root {
        transform: scale(0.95);
        transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        will-change: transform;
    }
}

body:has(.backdrop:not(:popover-open)) #root {
    transform: scale(1);
    transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    will-change: transform;
}


.sheet {
    background-color: var(--gray-1);
    inset: auto 0 0 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;

    >* {
        width: min(750px, 100%);
        margin-inline: auto;
    }

    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.sheet header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    user-select: none;
    padding-block: 1.5rem 0.5rem;
    padding-left: 0.5rem;

    svg {
        fill: var(--subtle);
    }
}

.sheet header::after {
    content: "";
    background-color: var(--gray-2);
    height: 0.35rem;
    width: 3rem;
    border-radius: 100vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-1.75rem);
}


.sheet section {
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--gray-2) transparent;
    align-self: stretch !important;
    height: 100%;
}

.sheet footer {
    padding: 0.5rem;
    padding-bottom: 1rem;
}