html:has(.sheet:popover-open),
body:has(.sheet:popover-open) {
    overscroll-behavior: none;
    overflow: hidden;

    #root {
        transform-origin: top;
        filter: blur(2px);
        opacity: 0.5;
        transform: scale(0.95);
        transition:
            filter 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
            transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
            opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
}

html:not(:has(.sheet:popover-open)),
body:not(:has(.sheet:popover-open)) {

    #root {
        transform-origin: top;
        transform: scale(1);
        filter: blur(0px);
        transition:
            filter 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
            transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
            opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
        opacity: 1;
    }
}